html
  font-family: sans-serif
  -moz-user-select: -moz-none
  -webkit-user-select: none
  user-select: none

.footer
  padding-top: 30px
  padding-bottom: 30px
  min-height: 100px
  text-align: center

.content
  h5
    text-align: justify
    text-align-last: center
  margin-bottom: 50px
  margin-top: 50px

#no-content
  z-index: 2
  padding-top: 200px
  display: table-cell
  text-align: center
  color: #666

#has-content
  z-index: 1