.sidebarRight {
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  position: fixed;
  right: 0;
  padding-top: 50px;
  height: 100%;
  width: 300px;
  background: #fafafa;
  overflow-y: scroll;
}

.sidebar-head {
  padding: 10px;
  font-size: 25px;
}

.sidebar-head hr {
  margin: 0px;
  margin-top: 10px;
}

.card {
  margin: 10px;
  padding: 10px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.version-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-bottom: 2px;
}

.version-list .version-label {
  width: auto;
  float: left;
}

.version-list .version-options {
  width: auto;
  float: right;
}

.sidebarLeft {
  position: fixed;
  left: 0px;
  margin-top: 50px;
  height: 100%;
  width: 200px;
  background: #34495e;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebarLeft li {
  text-indent: 20px;
  line-height: 50px;
}

.sidebarLeft li a {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
}

.sidebarLeft li a:hover {
  color: #fff;
  background: #00c7ff;
}

.sidebarLeft li .active {
  color: #fff;
  background: #00c7ff;
}

.sidebarLeft li a:active,
.sidebarLeft li a:focus {
  text-decoration: none;
}

.nav-drop {
  border-radius: 0;
}

.file-list {
  position: fixed;
  left: 200px;
  top: 50px;
  height: 100%;
  background: #f0f0f0;
  overflow-y: scroll;
}

.file-header {
  background: transparent;
  min-height: 50px;
  font-weight: 600;
  padding-left: 20px;
  padding-bottom: 5px;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.file-item-even {
  padding-left: 30px;
  padding-right: 10px;
  width: 100%;
  height: 50px;
  background: #FFF;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.file-item-even .file-name {
  width: 45%;
}

.file-item-even .file-owner {
  width: 25%;
}

.file-item-even .file-edited {
  width: 20%;
}

.file-item-even .file-actions {
  width: 10%;
  text-align: right;
}

.file-item-odd {
  padding-left: 30px;
  padding-right: 10px;
  width: 100%;
  height: 50px;
  background: #EEE;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.file-item-odd .file-name {
  width: 45%;
}

.file-item-odd .file-owner {
  width: 25%;
}

.file-item-odd .file-edited {
  width: 20%;
}

.file-item-odd .file-actions {
  width: 10%;
  text-align: right;
}

.file-selected {
  background: #00c7ff;
  color: white;
}

.light-h3 {
  text-align: center;
  font-weight: 300;
}

.light-h5 {
  text-align: center;
  color: #777;
  font-weight: 100;
  line-height: 40px;
}

html {
  font-family: sans-serif;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 100px;
  margin-top: 100px;
  text-align: center;
}

.content {
  text-align: justify;
  font-size: 16px;
}

#head1 {
  background: #00c7ff;
  margin-top: 50px;
  color: white;
  font-size: 50px;
  font-weight: 200;
  text-align: center;
  vertical-align: middle;
  line-height: 400px;
  min-width: 100vw;
  min-height: 400px;
}

#no-content {
  z-index: 2;
  padding-top: 200px;
  display: table-cell;
  text-align: center;
  color: #666;
}

#has-content {
  z-index: 1;
}